.aboutbubble__container{
    background-color: #e3d7ff;
    height: 800px;
    justify-content: center;
    display:flex;
    padding-top: 50px;
}

.aboutbubble__container2{
    background-color: #ddcdbe;
    height: 900px;
    width: 700px;
    justify-content: center;
    border-radius: 15px;    
    align-items: center;
    display: flex;
}

.aboutbubble{
    background-color: #fefaf7;
    height: 850px;
    width: 600px;
    justify-content: center;
    border-radius: 15px;    
    align-items: center;
}

.aboutbubble h1{
    color: #000;
    padding-left: 75px;
    padding-top: 50px;
}

.aboutbubble p{
    color: #000;
    padding-left: 25px;
    padding-top: 10px;
}

.aboutbubble a{
    text-decoration: none;
}