.homebubble__container{
    background-color: #e3d7ff;
    height: 500px;
    justify-content: center;
    display:flex;
    padding-top: 50px;
}

.homebubble__container2{
    background-color: #ddcdbe;
    height: 350px;
    width: 450px;
    justify-content: center;
    border-radius: 15px;    
    align-items: center;
    display: flex;
}

.homebubble{
    background-color: #fefaf7;
    height: 300px;
    width: 400px;
    justify-content: center;
    border-radius: 15px;    
    align-items: center;
}

.homebubble h1{
    color: #000;
    padding-left: 75px;
    padding-top: 75px;
}

.homebubble p{
    color: #000;
    padding-left: 25px;
    padding-top: 5px;
}

@media screen and (max-width: 960px){
    .homebubble__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

   
    .homebubble{
        width: 50%;
    }
}